<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head><center>Ajouter COMMANDE</center>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title> </title>
</head>
<body>
<form method="post" name="commande" action=""><br>
  <br>
  <br>
Libell&eacute; &nbsp;
&nbsp; &nbsp; &nbsp;

&nbsp; &nbsp; <input name="date debut" value=""
 type="libelle"><br>
Date de debut&nbsp; <input name="date debut" value=""
 type="date">
  <br>
Date de fin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input name="date fin"
 value="" type="date">
  <br>
Type de commande &nbsp;&nbsp;<select name="TYPE DE COMMANDE" type="list" >
<option selected="selected">selectionner</option> 
<option value="0">Maintenance </option>
<option value="1">Evolution</option>
<option value="2">Information</option>
</select><br><br>
Statut &nbsp;&nbsp;<select name="Statut" type="list" >
<option selected="selected">selectionner</option> 
<option value="0">en cours </option>
<option value="1">rejetée</option>
<option value="2">validée</option>
<option value="3">a approuver</option>
</select>
<br>

  <br>
  <br>
  <INPUT TYPE="submit" NAME="nom" VALUE="ajouter"> &nbsp;&nbsp; 
  <br>
  <br>
  <br>
</form>
</body>
</html>
